/* {
  margin: 0;
  padding: 0;
} 

body {
  background-color: royalblue;
  font-family: sans-serif;
}

h1 {
  background-color: red;
  color: rgb(255, 145, 0);
}

p {
  background-color: white;
  font-size: medium;
  line-height: 1cm;
  margin: 50px;
}

.box-1 {
  background-color: black;
  color: rgba(rgba(255, 255, 255, 0.288), green, blue, alpha);

  border-right: 5px rgb(47, 0, 255) solid;
  border-left: 10px rgb(133, 0, 167) solid;
  border-top-style: dotted;

  padding: 5%;
}

.container {
  width: 80%;
  margin: auto;
}

.box-1 h1 {
  font-family: century "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-style: italic;
  font-weight: 800;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1 em;
}

.box-2 {
  border: 20% dotted rgba(rgb(255, 0, 234), green, blue, alpha);
}
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* .boxName {
  margin: 5%;
  padding: 5%;
  background-color: antiquewhite;
  align-content: center;
} */

header {
  margin: 0%;
  padding: 2em;

  background-color: black;
  color: white;
}
.topnav {
  float: right;
  padding: 0.1em;
  background-color: rgb(0, 0, 0);
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1em;
  font-family: sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2e2e2e;
  color: white;
}
